$color-onyx: #353b3c;
$color-cultured: #eef0f2;
$color-silvered: #c6c7c4;
$color-spanish-gray: #a2999e;
$color-deep-taube: #846a6a;

$color-white: #ffffff;
$color-black: #000000;
$color-grey: #a0a4a8;

$input-max-width: 500px;
$list-items-max-width: 1000px;

$breakpoint-tablet: 900px;
$breakpoint-monitor: 901px;
